a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-20px);
}

a.facebook {
  color: #0866ff;
}

a.twitter {
  color: #2c9ae5;
}

a.instagram {
  color: #C13584;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}
